input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 10px;
}

.ng-invalid-required{

}

#sortList{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.container-fluid{
    padding-bottom: 60px; !important;
}

body {
    padding-top: 60px; !important;
    padding-bottom: 60px;
}

.wd-widget {
    margin-bottom: 10px;
}

.wd-widget > img {
    width: 100%;
}

.wd-widget .wd-widget-member{
    margin-bottom: 10px;
}

.wd-widget .wd-widget-toolbar{
    z-index: 2;
}

.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 30px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
}


/*.embed-responsive > .wd-widget-toolbar {*/
    /*position: absolute;*/
    /*right: 0px;*/
    /*background: white;*/
    /*opacity: 0.9;*/
    /*padding: 5px;*/
    /*border-bottom-left-radius: 10px;*/
/*}*/

a {
    text-decoration: none !important;
}
