<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header col-xs-11">
        <a class="navbar-brand pull-left"
           href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand pull-left"
           href="#!/website/{{model.websiteId}}/page/{{page._id}}/widget">
            Choose Widget
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div class="container-fluid">
        <ul class="list-group con">
            <li class="list-group-item active">
                Widget-Type
            </li>
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/heading">
                <li class="list-group-item">
                    Header
                </li>
            </a>
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/image">
                <li class="list-group-item">
                    Image
                </li>
            </a>
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/youtube">
                <li class="list-group-item">
                    Youtube
                </li>
            </a>
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/html">
                <li class="list-group-item">
                    HTML
                </li>
            </a>
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/text">
                <li class="list-group-item">
                    Text Input
                </li>
            </a>
        </ul>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>