<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header col-xs-11">
        <a class="navbar-brand pull-left"
           href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand pull-left" href="#">Widget Edit</a>
    </div>
    <div class="navbar-header col-xs-1">
        <a class="navbar-brand pull-right"
           ng-click="model.updateWidget(model.widget, model.widgetId)">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>
<div class="container-fluid">
    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
            ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html']]">
    </div>

    <a ng-click="model.deleteWidget()"
       ng-show="{{model.widgetId}}"
       class="btn btn-block btn-danger">
        Delete
    </a>
    <a ng-click="model.updateWidget(model.widget, model.widgetId)"
       ng-show="{{model.widgetId}}"
       class="btn btn-block btn-success">
        Update
    </a>
    <a ng-click="model.createWidget(model.widget)"
       ng-hide="{{model.widget}}"
       class="btn btn-block btn-success">
        Create
    </a>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>