
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header col-xs-11">
        <a class="navbar-brand pull-left"
           href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand pull-left" href="#">Widget Edit</a>
    </div>
    <div class="navbar-header col-xs-1">
        <a class="navbar-brand pull-right"
           ng-click="model.updateWidget(model.widget, model.widgetId)">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container-fluid">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form name="userForm"
          action="/api/upload"
          method="post"
          enctype="multipart/form-data"
          novalidate>
        <div class="form-group"
             ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine && model.submitted}">

            <label for="name">
                Name
            </label>
            <input ng-model="model.widget.name"
                   class="form-control"
                   name="name"
                   placeholder="facebook"
                   value="top heading"
                   id="name"
                   required/>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine && model.submitted" class="help-block">
                Name is required.
            </p>
        </div>
        <label for="text">Text</label>
        <input ng-model="model.widget.text"
               class="form-control"
               placeholder="facebook"
               value="US Senate Reaches Compromise"
               id="text"/>

        <label for="url">URL</label>
        <input ng-model="model.widget.url"
               class="form-control"
               placeholder="facebook"
               value="xyz.com"
               id="url"/>

        <label for="width">Width</label>
        <select ng-model="model.widget.width"
                id="width"
                class="form-control">
            <option>50%</option>
            <option>75%</option>
            <option>100%</option>
        </select>

        <label ng-hide="{{model.widget}}"
               for="file">Upload</label>
        <input  ng-model="model.widget.file"
                ng-hide="{{model.widgetId}}"
                name="myFile"
                type="file"
                class="form-control"
                id="file"/>

        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"
                ng-hide="{{model.widget}}"
                class="btn btn-block btn-primary">Upload Image</button>


        <a ng-click="model.deleteWidget()"
           ng-show="{{model.widgetId}}"
           class="btn btn-block btn-danger">
            Delete
        </a>
        <a ng-click="model.updateWidget(userForm.$valid, model.widget, model.widgetId)"
           ng-show="{{model.widgetId}}"
           class="btn btn-block btn-success">
            Update
        </a>
        <a ng-click="model.createWidget(userForm.$valid, model.widget)"
           ng-hide="{{model.widget}}"
           class="btn btn-block btn-success">
            Create
        </a>

        <a ng-hide="{{model.widget}}"
           class="btn btn-block btn-info"
           ng-click="model.openFlickrSearch();">
            Search Flickr
        </a>
    </form>


</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
