
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header hidden-sm hidden-xs col-md-4">
        <a class="navbar-brand pull-left"
           href="#!/website">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand pull-left">
            Websites
        </a>
    </div>
    <div class="navbar-header col-xs-9 hidden-md hidden-lg">
        <a class="navbar-brand pull-left"
           href="#!/website">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand pull-left">Edit Website</a>
    </div>
    <div class="navbar-header hidden-sm hidden-xs col-md-1">
        <a class="navbar-brand pull-right"
           href="#!/website/new">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div class="navbar-header hidden-sm hidden-xs col-md-4">
        <a class="navbar-brand pull-left">Edit Website</a>
    </div>
    <div class="navbar-header col-xs-3">
        <a class="navbar-brand pull-right"
           ng-click="model.updateWebsite(model.website, model.websiteId)">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container-fluid col-xs-5 hidden-xs hidden-sm">
    <div class="container-fluid">
        <ul class="list-group con">

            <li class="list-group-item active">
                <div class="row">
                    <div class="col-md-10 col-lg-5">
                        Name
                    </div>
                    <div class="col-lg-3 hidden-md">
                        Created
                    </div>
                    <div class="col-md-3 hidden-md">
                        Owner
                    </div>
                    <div class="col-md-2 col-lg-1">
                    </div>
                </div>
            </li>



            <li ng-repeat="website in model.websites"
                class="list-group-item">
                <div class="row">
                    <div class="col-md-10 col-lg-5">
                        <a href="#!/website/{{website._id}}/page">
                            {{website.name}}
                        </a>
                    </div>
                    <div class="col-lg-3 hidden-md">
                        {{website.dateCreated | date : 'short'}}
                    </div>
                    <div class="col-md-3 hidden-md">
                        {{website._user.firstName}} {{website._user.lastName}}
                    </div>
                    <div class="col-md-2 col-lg-1">
                        <a href="#!/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="container-fluid col-xs-12 col-md-7">
    <div class="container-fluid">
        <form name="userForm"
              ng-submit="model.updateWebsite(userForm.$valid, model.website, model.websiteId)"
              novalidate>
            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine && model.submitted}">

                <label for="name">Name</label>
                <input class="form-control"
                       name="name"
                       ng-model="model.website.name"
                       placeholder="facebook"
                       value="Blogger"
                       id="name"
                       required/>
                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine && model.submitted" class="help-block">
                    Name is required.
                </p>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description"
                          ng-model="model.website.description"
                          rows="5"
                          placeholder="So big it is its own country"
                          class="form-control">
                </textarea>
            </div>
            <button type="submit"
                    class="btn btn-block btn-success">
                Update
            </button>
            <a ng-click="model.deleteWebsite(model.websiteId)"
               class="btn btn-block btn-danger">
                Delete
            </a>
        </form>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
