
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header hidden-sm hidden-xs col-md-4">
        <a class="navbar-brand pull-left" href="website-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="navbar-brand pull-left">Websites</a>
    </div>
    <div class="navbar-header col-xs-9 hidden-md hidden-lg">
        <a class="navbar-brand pull-left"
           href="#!/user/{{model.userId}}/website">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand pull-left">Edit Website</a>
    </div>
    <div class="navbar-header hidden-sm hidden-xs col-md-1">
        <a class="navbar-brand pull-right"
           href="#!/user/{{model.userId}}/website/new">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div class="navbar-header hidden-sm hidden-xs col-md-4">
        <a class="navbar-brand pull-left">Edit Website</a>
    </div>
    <div class="navbar-header col-xs-3">
        <a class="navbar-brand pull-right"
           ng-click="model.updateWebsite(website, model.websiteId)">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container-fluid col-xs-5 hidden-xs hidden-sm">
    <div class="container-fluid">
        <ul class="list-group con">

            <li class="list-group-item active">
                <div class="row">
                    <div class="col-md-10 col-lg-5">
                        Name
                    </div>
                    <div class="col-lg-3 hidden-md">
                        Created
                    </div>
                    <div class="col-md-3 hidden-md">
                        Accessed
                    </div>
                    <div class="col-md-2 col-lg-1">
                    </div>
                </div>
            </li>


            <li ng-repeat="website in model.websites"
                class="list-group-item">
                <div class="row">
                    <div class="col-md-10 col-lg-5">
                        <a href="../../page/templates/page-list.view.client.html">
                            {{website.name}}
                        </a>
                    </div>
                    <div class="col-lg-3 hidden-md">
                        {{website.created | date}}
                    </div>
                    <div class="col-md-3 hidden-md">
                        {{website.accessed | date}}
                    </div>
                    <div class="col-md-2 col-lg-1">
                        <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid col-xs-12 col-md-7">
    <div class="container-fluid">
        <label for="name">Name</label>
        <input class="form-control"
               ng-model="website.name"
               placeholder="facebook"
               value="Blogger"
               id="name"/>

      <label for="description">Description</label>
        <textarea id="description"
                  ng-model="website.description"
                  rows="5"
                  placeholder="So big it is its own country"
                  class="form-control">
        </textarea>

        <a ng-click="model.deleteWebsite(model.websiteId)"
           class="btn btn-block btn-danger">
            Delete
        </a>

        <a ng-click="model.updateWebsite(website, model.websiteId)"
           class="btn btn-block btn-success">
            Update
        </a>


    </div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header col-xs-12">
        <a class="navbar-brand pull-right" href="../../user/templates/profile.view.client.html"><span class="glyphicon glyphicon-user"></span></a>
    </div>
</nav>
