<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose Widget</title>
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header col-xs-11">
        <a class="navbar-brand pull-left" href="templates/widget-list.view.client.html"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="navbar-brand pull-left" href="#">Choose Widget</a>
    </div>
</nav>

<div class="container-fluid col-xs-12">
    <div class="container-fluid col-xs-12">
        <ul class="list-group con">
            <li class="list-group-item active">
                Widget-Type
            </li>
            <a href="widget-heading-edit.html">
            <li class="list-group-item">
                Header
            </li>
            </a>
            <a href="widget-image-edit.html">
                 <li class="list-group-item">
                     Image
                 </li>
            </a>
            <a href="widget-youtube.html">
                <li class="list-group-item">
                    Youtube
                </li>
            </a>
        </ul>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header col-xs-12">
        <a class="navbar-brand pull-right" href="../views/user/templates/profile.html"><span class="glyphicon glyphicon-user"></span></a>
    </div>
</nav>

</body>
</html>